<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- 从类路径下加载spring配置文件，classpath关键字特指类路径下的加载 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:book-context.xml</param-value>
    </context-param>
    <!--.负责启动spring容器的监听器，它将引用1处的上下文参数获得spring配置文件的地址 -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <!-- spring MVC 的主控servlet -->
    <servlet>
        <servlet-name>book</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--spring MVC 的主控servlet 的映射URL -->
    <servlet-mapping>
        <servlet-name>book</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rest</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>rest</servlet-name>
        <url-pattern>/api/</url-pattern>
    </servlet-mapping>
</web-app>
